# Binaries        #
###################
*.o
*.hi

# Tex intermediate files #
##########################
*.aux
*.pdf
*.log
*.gz

# Stack files/dirs #
####################
.stack-work

#temp files
*~

#test output files
*.out

.DS*

*.bbl
*.blg

